In [20]:
import pickle
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import shutil

In [13]:
with open('filenames.pkl', 'rb') as f:
    filenames = pickle.load(f)

df = pd.read_excel('data_extended.xlsx')

In [21]:
df

,Name,Continent,Population,Colors,Width,Height,Complexity,Bars,Stripes,Circle,...,Sun,Stars,Moon,Plant,Animal,Weapon,Tool,Text,Crown,Duplicate
0,China,Asia,"1,412,600,000",2,3,2,0.055,0,0,0,...,0,5,0,0,0,0,0,0,0,0
1,India,Asia,"1,374,271,375",4,3,2,0.162,0,3,0,...,0,0,0,0,0,0,0,0,0,0
2,United States,Americas,"332,564,727",3,19,10,0.306,0,11,0,...,0,50,0,0,0,0,0,0,0,0
3,Indonesia,Asia,"272,248,500",2,3,2,0.011,0,2,0,...,0,0,0,0,0,0,0,0,0,0
4,Pakistan,Asia,"225,200,000",2,3,2,0.085,2,0,0,...,0,1,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,Niue,Oceania,"1,549",4,2,1,0.198,0,0,0,...,0,5,0,0,0,0,0,0,0,0
237,Tokelau,Oceania,"1,501",2,2,1,0.129,0,0,0,...,0,4,0,0,0,0,0,0,0,0
238,Vatican City,Europe,825,3,1,1,0.399,2,0,0,...,0,0,0,0,0,0,1,0,1,0
239,Cocos (Keeling) Islands,Oceania,573,2,2,1,0.118,0,0,0,...,0,5,1,1,0,0,0,0,0,0
240,Pitcairn Islands,Oceania,40,7,2,1,0.556,0,0,0,...,0,0,0,1,0,0,1,0,0,0

In [23]:
objects = ['Animal', 'Crown', 'Moon', 'Plant', 'Stars', 'Sun', 'Text', 'Tool', 'Weapon']
for object in objects:
    for i, filename in enumerate(filenames):
        if df[object][i] > 0:
            shutil.copyfile('svg_flags/' + filename + '.svg', 'svg_flags/Objects/' + object + '/' + filename  + '.svg')

In [26]:
layouts = ['Circle', 'Cross', 'Saltires', 'Triangle']
for layout in layouts:
    for i, filename in enumerate(filenames):
        if df[layout][i] > 0:
            shutil.copyfile('svg_flags/' + filename  + '.svg', 'svg_flags/Layout/' + layout + '/' + filename  + '.svg')

In [27]:
layouts = ['Bars', 'Stripes']
for layout in layouts:
    for i, filename in enumerate(filenames):
        if df[layout][i] > 0:
            shutil.copyfile('svg_flags/' + filename  + '.svg', 'svg_flags/Layout/' + layout + '/' + str(df[layout][i]) + '_' + filename  + '.svg')